*.pyc
*.pyo

**/__pycache__/

*.db
.db
data
data/*.db
data/chat.db
data/*.log
data/log/*.log

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

ha.json
**/tests/*

CLAUDE.md
.claude/
.mcp.json

node_modules/
.turbo/

core
archive
scripts
packages
ops
apps/control
apps/docs
apps/syris_nutrition
apps/ui
apps/version.ts
.turbo 
**/.expo
**/.vscode
**/.claude
**/.claudeignore